@model dynamic

<div class="card text-center">
    <div class="card-body">
        <h5 class="card-title">@Model.Name</h5>
        <img src="@Model.PictureUrl" class="card-img-top" alt="OPRAVI SI KARTINKITE!" />
    </div>
</div>