@{
    ViewData["Title"] = "Page Not Found";
}
<div class="container mt-1 text-center">
    <a asp-action="Index" asp-controller="Home" class="btn btn-primary">Go to Homepage</a>
    <img src="~/404.png" alt="Page Not Found" class="img-fluid my-4" style="max-width: 90%; height: auto;">
</div>
