@using IronBoots.Models.Materials
@model IEnumerable<MaterialIndexViewModel>
@{
    ViewData["Title"] = "All Materials";
}
<div class="container">
    <div class="row mt-4">
        @if (!Model.Any())
        {
            <div class="col-12">
                <p class="fs-3">Moje i da stane ako si seednesh bazata purvo</p>
            </div>
        }
        else
        {
            @foreach (var material in Model)
            {
                <div class="col-md-4 mb-4">
                    <a asp-action="Details" asp-controller="Material" asp-route-id="@material.Id" class="text-decoration-none">
                        <partial name="_CardsIndex" model="material" />
                        </a>
                </div>
            }

        }
        <div class="row mt-4">
            <div class="col-12 text-end">
                <a asp-action="Add" asp-controller="Material" class="btn btn-success mb-3">Add Material</a>
            </div>
        </div>
    </div>
</div>