@using IronBoots.Models.Products
@model IEnumerable<ProductIndexViewModel>
@{
    ViewData["Title"] = "All Products";
}
<div class="container">
    <div class="row mt-4">
        @if (!Model.Any())
        {
            <div class="col-12">
                <p class="fs-3">No products are present.</p>
            </div>
        }
        else
        {
            @foreach (var product in Model)
            {
                <div class="col-md-4 mb-4">
                    <a asp-action="Details" asp-controller="Product" asp-route-id="@product.Id" class="text-decoration-none">
                        <partial name="_CardsIndex" model="product" />
                    </a>
                </div>
            }

        }
        @if (User.Identity.IsAuthenticated && User.IsInRole("Admin") || User.IsInRole("Manager"))
        {
            <div class="row mt-4">
                <div class="col-12 text-end">
                    <a asp-action="Add" asp-controller="Product" class="btn btn-success mb-3">Add Product</a>
                </div>
            </div>
        }
    </div>
</div>